<div class="login-form2">
  <h2 class="color-login">Log In</h2>
  <form action="/auth/login" method="POST">

    <label class="color-login"> Username
      <input type="text" name="username" placeholder="Your username" autocomplete="off" />
    </label>


   <label class="color-login"> Password
      <input type="password" name="password" placeholder="Your password" autocomplete="off" />
    </label>

    <button class="button-login2" type="submit">Log In</button>

</div>
    {{!-- test 2 --}}
  


    {{#if errorMessage}}
      <p class="error">{{errorMessage}}</p>
    {{/if}}
  </form>
  </br>
  </br>
  </br>


<hr>