{{#if user}}
    <h2>Welcome, {{ user.username }} !</h2>
    <p>This is your profile page!</p>

    <button>
        <a href="/auth/logout">Log out</a>
    </button>
        <button>
        <a href="/trainings">My trainings</a>
    </button>
            <button>
        <a href="/explore-trainings">Explore</a>
    </button>
    {{else}}
    <p>Still no logged in user, sorry!</p>
    
    {{/if}}

