<div id="login-form">
  <h2 class="signup-color">Sign Up</h2>
  <form action="/auth/signup" method="POST">

    <label class="signup-color"> Username
      <input type="text" name="username" placeholder="Your username" />
    </label>


    <label class="signup-color"> Password
      <input type="password" name="password" placeholder="Your password" />
    </label>

    <button id="button-signup" type="submit">Sign Up</button>


    {{#if errorMessage}}
      <p class="error">{{errorMessage}}</p>
    {{/if}}
  </form>
</div>
<hr>