<h1>{{appTitle}} 🚀</h1>
<p>Welcome Ironhacker!</p>

<div id="to-right">
    <a href="/auth/signup">Sign up</a>

    <form action="/auth/login" method="GET" id="login-form">
    <button>Log in</button>
    </form>


</div>