<h1>{{appTitle}} 🚀</h1>
<p>Welcome Ironhacker!</p>

<div id="to-right">
    <button><a href="/auth/signup">Sign up</a></button>

    <form action="/auth/login" method="GET" id="login-form">
    <button>Log in</button>
    </form>
    <a href="/trainings">trainings</a>


</div>
