
<h1>{{appTitle}} :cohete:</h1>
<p>Welcome Ironhackeseeeeer!</p>
<div id=“to-right”>
    <form action=“/signup” method=“GET” id=“signup-form”>
    <button> <a href=“../views/auth/signup.hbs”></a> Sign up</button>
    </form>
    <form action=“/auth/login” method=“GET” id=“login-form”>
    <button>Log in</button>
    </form>
    {{!-- <form action=“/logout” method=“GET” id=“logout-form”>
    <button>Log out</button>
    </form> --}}
</div>
getData(input)
