<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>{{appTitle}}</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  {{#if user}}
<header>
  <a href="/" class="logo">MARATHON TRACKER</a>
  <nav>
    <ul class="nav_links">
     <li> <a href="/" class="home"> Home</a></li>
     <li> <a href="/trainings" class="mytrainings">My trainings</a></li>
     <li> <a href="/auth/logout" class="logout"> Logout</a></li>
    </ul>
  </nav>

</header>
{{/if}}
  <body>

    {{{body}}}

    <script src="/js/script.js"></script>
  </body>
  <footer>@MarathonTracker.com</footer>
</html>
