<div class="container">
    <h2>Add your training</h2>



    <form action="/trainings/create" id="exercises" method="POST">

          
        <label for="date">Date: </label>
        <input type="date" name="date" id="date">

        <label for="exercise">Exercise: </label>
        <input type="text" name="exercise" id="exercise">

        <label for="sets">Sets: </label>
        <input type="number" name="sets" id="sets">

         <label for="reps">Reps: </label>
        <input type="number" name="reps" id="reps"></br>


    <button type="submit" id="buttonex">Add exercise</button>
    

    <button type="submit">Add my training</button>
    </form>


    <li></li>

</div>

    <script>
addEventListener(“click”, button);
let exercises = document.getElementById(“exercises”)
let button = document.getElementById(“buttonex”).addEventListener(“click”, console.log(“clicked”))
 </script>