<div id="appender" class="container">
    <h1>Add your training</h1>

    <div id="test">
        <div id="second">

            <form action="/trainings/create" class="exercises" method="POST">
                <div class="form-wrapper">
                    <div class="tracker-inputs">
                       <div><label for="date">Date: </label>
                        <input type="date" name="date" >

                        <div><label for="distance">Distance [km]: </label>
                        <input type="number" name="distance" ></div>

                        <div><label for="time">Time [min]: </label>
                        <input type="number" name="time" ></div>

                        <div><label for="pace">Pace [min/km]: </label>
                        <input type="text" name="pace" ></br></div>

                        <div></div><button type="button" class="addButton">+</button></div>
                    </div>

                </div>
                <button type="submit">Add my training</button></div>
            </form>
        </div>
    </div>
</div>
<br>



</div>
<!-- <script>

    const original = document.getElementById("second")
    const toAppend = document.getElementById("test")



    function repeat() {
        const template = `
            <div class="tracker-inputs">
                    <label for="date">Date: </label>
                    <input type="date" name="date" class="date">

                    <label for="exercise">Exercise: </label>
                    <input type="text" name="exercise" class="exercise">

                    <label for="sets">Sets: </label>
                    <input type="number" name="sets" class="sets">

                    <label for="reps">Reps: </label>
                    <input type="number" name="reps" class="reps"></br>

                    <button type="button" class="addButton">+</button>
                </div>        
        `
        const formWrapper = document.querySelector(".form-wrapper")
        const inputFields = document.createElement("div")
        formWrapper.appendChild(inputFields)
        inputFields.classList.add("form-wrapper")
        inputFields.innerHTML += template
        inputFields.querySelector(".addButton").addEventListener("click", repeat)
    }


    document.querySelector(".addButton").addEventListener("click", repeat)

</script> !-->