<div id="appender" class="container">
    <h2>Add your training</h2>

<div id="test">
    <div id="second">

    <form action="/trainings/create" id="exercises" method="POST">

          
        <label for="date">Date: </label>
        <input type="date" name="date" id="date">

        <label for="exercise">Exercise: </label>
        <input type="text" name="exercise" id="exercise">

        <label for="sets">Sets: </label>
        <input type="number" name="sets" id="sets">

         <label for="reps">Reps: </label>
        <input type="number" name="reps" id="reps"></br>



<button type="submit">Add my training</button>
        </form>
        </div>
   </div>
   <button type="button" onclick="repeat()" id="addButton">+</button>
        <br>



</div>
<script>

const original = document.getElementById("second")
const toAppend = document.getElementById("test")


function repeat() {
    const clone = original.cloneNode(true)
    toAppend.appendChild(clone)
        }

</script>